:root {
    --grid-size: 2;
}    

body{
    background: #a5a5a5;
    font-family: 'Montserrat', sans-serif;
}

.container {
    box-sizing: border-box;
    background: #d8d8d8;
    width: min(400px, 90%);
    height: 600px;
    margin: 10% auto;
    text-align: center;
    padding-top: 3%;
    border-radius: 20px;
    box-shadow: -10px 10px 60px #4d4d4d;
}

ul {
    padding: 0;
    justify-content: center;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 50px);
}

.valueField {
    width: 40px;
    height: 25px;
    margin: 3px 0px 0px 3px;
    font-size: 19px;
    text-align: center;
    line-height: 0;
}

.entrada {
    margin: 30px 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
    font-size: 20px;
    margin-right: 10px;
}

select {
    font-size: 18px;
}

h1 {
    margin-bottom: 35px;
}

#button {
    color: var(--whiteText);
    background: #acacac;

    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    padding: 16px;
    border-radius: 7px;
    margin-top: 0;
}

#button:hover{
    background-color: #929292;
    cursor: pointer;
}

#button:active{
    opacity: .9;
    transform: scale(1.02);
}

#button:disabled{
    opacity: .5;
    background: red;
    cursor: not-allowed;
}

.tituloResultado {
    margin-top: 25px;
    font-size: 26px;
}

.resultado{
    line-height: 15px;
    font-size: 35px;
}